# dependencies
node_modules/

# Docker
database/data/

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
/.vs

# typeScript build files
server/build/

# other
npm-debug.log