version: "3"

services:
  server:
    build: ./server
    container_name: doughBros_server
    command: npm start
    depends_on:
      - "db"
    ports:
      - "8000:8000"
    volumes:
      - ./server/:/usr/app/src
      - ./config/:/usr/app/config

  db:
    build: ./database
    container_name: doughBros_db
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: doughBros_db
      MYSQL_USER: user
      MYSQL_PASSWORD: root
    ports:
      - "3307:3306"
    volumes:
      - ./database/data:/var/lib/mysql
      - ./database/init.sql:/docker-entrypoint-initdb.d/init.sql

