<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>305129892239-pp21d8cnu2foqcl2mh3oevm4ng7b5shs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.305129892239-pp21d8cnu2foqcl2mh3oevm4ng7b5shs</string>
	<key>API_KEY</key>
	<string>AIzaSyAXZEYCwOJ3zmM4hXeamy8ha5xiWLdNnT8</string>
	<key>GCM_SENDER_ID</key>
	<string>305129892239</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ubclaunchpad.dough-bros-ios</string>
	<key>PROJECT_ID</key>
	<string>dough-bros-2020</string>
	<key>STORAGE_BUCKET</key>
	<string>dough-bros-2020.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:305129892239:ios:16e32f234438ebb3ed83fa</string>
	<key>DATABASE_URL</key>
	<string>https://dough-bros-2020.firebaseio.com</string>
</dict>
</plist>